@import "tailwindcss";
@custom-variant hover (&:hover);

:root {
  --bg-green-dark : rgb(1, 191, 55);
  --bg-green-light : rgb(85, 246, 139);
}

body {
  background: linear-gradient(var(--bg-green-dark), var(--bg-green-light)),
    url(./assets/always-grey.png);

  min-height: 100vh;
  background-blend-mode: overlay;
}


[data-modal-wrapper="active"],
[data-participants-modal-wrapper="active"] {
  opacity: 1;
  pointer-events: auto;
}

[data-success-popup="toggle"] {
  animation: successPopupReveal 2.75s ease-in-out 0.2s;
}

[data-dropdown-visible="true"] {
  opacity : 1;
}

[data-caret-active="true"] {
  transform : rotate(180deg);
}

[data-pagination-selected="true"]{
  background-color: rgb(8, 129, 42);
  color : white;
}

[data-login-failed="true"] {
  opacity: 1;
}


@keyframes successPopupReveal {
    0% {
      top : -4rem;
    }

    20% {
      top : 2rem;
    }

    80% {
      top : 2rem;
    } 

    100% {
      top : -4rem;
    }
}
